<form method="POST" action=<%= action %>
  <p>
    <code>id=</code>
    <input type="text" name="id"
           value=<%= project.id %>>
  </p>

  <p>
    <code>project_name=</code>
    <input type="text" name="project_name"
           value=<% project.project_name %>>
  </p>

  <p>
    <code>lane=</code>
    <input type="text" name="lane"
           value=<%= project.lane %>>
  </p>

  <p>
    <code>enabled=</code>
    <input type="text" name="enabled"
           value=<%= project.enabled %>>
  </p>

  <h4>Repository Configuration</h4>
  <p>
    <code>repo_config.id</code>
    <input type="text" name="repo_config_id"
           value=<%= project.repo_config.id %>>
  </p>

  <p>
    <code>repo_config.git_url=</code>
    <input type="text" name="repo_config_git_url"
           value=<%= project.repo_config.git_url %>>
  </p>

  <p>
    <code>repo_config.full_name=</code>
    <input type="text" name="repo_config_full_name"
           value=<%= project.repo_config.full_name %>>
  </p>

  <p>
    <code>repo_config.description=</code>
    <input type="text" name="repo_config_description"
           value=<%= project.repo_config.description %>>
  </p>

  <p>
    <code>repo_config.name=</code>
    <input type="text" name="repo_config_name"
           value=<%= project.repo_config.name %>>
  </p>

  <p>
    <code>repo_config.provider_type_needed=</code>
    <input type="text" name="repo_config_provider_credential_type_needed"
           value=<%= project.repo_config.provider_credential_type_needed %>>
  </p>

  <p>
    <code>repo_config.hidden=</code>
    <input type="text" name="repo_config_hidden"
           value=<%= project.repo_config.hidden %>>
  </p>

  <input type="submit" value="Add new user to configuration repo.">
</form>
