<form method="POST" action=<%= action %>>
  <p>
    <code>id=</code>
    <input type="text" name="id"
           value=<%= user.id %>>
  </p>

  <p>
    <code>email=</code>
    <input type="text" name="git_repo"
           value=<% user.email %>>
  </p>

  <p>
    <code>password_hash=</code>
    <input type="text" name="password_hash"
           value=<% user.password_hash %>>
  </p>

  <h4>Provider Credentials</h4>
  <% user.provider_credentials.each_with_index do |credential, index| %>
    <p>
      <code>email=</code>
      <input type="text" name="provider_email_<%= index %>"
             value=<%= credential.email %>>
    </p>

    <p>
      <code>encrypted_api_token=</code>
      <input type="text" name="provider_encrypted_api_token_<%= index %>"
             value=<%= credential.encrypted_api_token %>>
    </p>

    <p>
      <code>provider_name=</code>
      <input type="text" name="provider_name_<%= index %>"
             value=<%= credential.provider_name %>>
    </p>

    <p>
      <code>type=</code>
      <input type="text" name="provider_type_<%= index %>"
             value=<%= credential.type %>>
    </p>

    <p>
      <code>full_name=</code>
      <input type="text" name="provider_full_name_<%= index %>"
           value=<%= credential.full_name %>>
    </p>
  <% end %>

  <input type="submit" value="Add new project to configuration repo.">
</form>
