<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><%= title %></span>
    </div>
  </header>

  <%= erb :"../../partials/navigation" %>

  <main class="mdl-layout__content" style="padding: 40px">
    <% if projects.nil? %>
      <%= erb :"./partials/warnings/no_projects_json" %>
    <% else %>
      <!-- Projects found in projects.json -->

      <h3>Existing projects found in <code>projects.json</code></h3>
      <% projects.each do |project| %>
        <%=
          erb :"./partials/forms/_projects",
          locals: { project: project, action: "/configuration/projects/update" }
        %>
      <% end %>
    <% end %>

    <!-- Form to create another project to add to the `projects.json` -->

    <h3>Add new project</h3>
    <%=
      erb :"./partials/forms/_projects",
      locals: { project: new_project, action: "/configuration/projects/create" }
    %>
  </main>
</div>
